{{> header}}
<!doctype html>
<html lang="en">
<body class="index">


<div class="container">
   <header><h1>Mis Pintores favoritos</h1></header>
    {{#if Pintores}}
        <table>
            <thead>
            <tr>
                <td>ID </td>
                <td>Nombre </td>
                <td> Nacionalidad </td>
                <td> Corriente </td>
                <td> Pintura </td>

            </tr>
            </thead>

            <tbody>
            {{#each Pintores }}
                <tr>
                    <td>{{ _id }}</td>
                    <td>{{ nombre }}</td>
                    <td>{{ nacionalidad }}</td>
                    <td>{{ corriente }}</td>
                    <td><img src="../images/{{ pintura }}" alt=""></td>
                </tr>
            {{/ each }}
            </tbody>
        </table>
    {{ else }}
        <div>No se encontraron pintores.</div>
    {{/if}}
</div>
{{> footer}}
</body>
</html>